html, body { min-height: 100%; }

body { background: transparent; font-family: 'Roboto', sans-serif; background-image: url('images/background-footer.jpg'); background-size: 100%; background-repeat: no-repeat; background-position: bottom; background-attachment: fixed; height: 100vh; max-height: 100vh; overflow-y: scroll; }
body:after { position: fixed; content: ''; left: 0; top: 0; right: 0; bottom: 0; opacity: 0.1; z-index: -1; }

.toggleMenu { font-size: 3rem; position: fixed; right: 0; padding: 28px; line-height: 3rem; color: #000; cursor: pointer; z-index: 9; }
.toggleMenu:hover { color: #000; }

.mainNav { position: fixed; left: 0px; right: 0px; transition: transform 0.15s ease-in-out; border-bottom: 5px solid rgb(33,150,244); z-index: 1; }
.mainNav.closed { transform: translateY(calc(-100% + 5px)); }
.mainNav.open { transform: translateY(0); }
.mainNav:after { height: 7rem; width: 100%; content: ''; position: absolute; display: block; margin-top: 5px; background: linear-gradient(#fff, rgba(255,255,255,0)); }
.mainNav ul { display: flex; flex: 1; flex-direction: row; list-style: none; justify-content: space-around; text-align: center; margin: 0; padding: 0; }
.mainNav ul li { flex-grow: 1; background: #EEE; transition: background 0.15s ease-in-out; }
.mainNav ul li.toggleSpacer { flex: 0 0 80px; }
.mainNav ul li.toggleSpacer:hover { background: #EEE;}
.mainNav ul li:hover { background: #FFF;}
.mainNav ul li a { padding: 30px; width: 100%; height: 100%; display: inline-block; color: rgba(0,0,0,0.87); text-transform: uppercase; font-size: 2rem; font-weight: 400; letter-spacing: 3px; position: relative; line-height: 2rem; }
.mainNav ul li a:hover,
.mainNav ul li a:active,
.mainNav ul li a:focus { text-decoration: none; }
.mainNav ul li a i { transition: all 0.15s ease-in-out; color: rgba(0,0,0,0.04); font-size: 2em; position: relative; line-height: 2rem; top: 0.5rem; left: -2rem; }
.mainNav ul li a:hover i { transform: translateX(0.5rem) rotate(-10deg); color: rgba(33,150,244,0.3); }

@media(max-width: 950px){
    .mainNav ul { flex-direction: column; }
    .mainNav ul li.toggleSpacer { display: none; }
}

.mainContent { text-align: center; padding: 50px; max-width: 1024px; margin: 0 auto; position: relative; }

@media(max-width: 950px){
    .mainContent { padding: 50px 10px 10px 10px; }
}

.workList { list-style: none; display: flex; padding: 0; justify-content: space-around; }
.workList > li { cursor: pointer; transition: all 0.2s ease-in-out; flex: 1; margin: 2em; box-shadow: 0px 1px 5px rgba(0,0,0,0.2); border-radius: 0 0 4px 4px; position: relative; border-bottom: 5px solid rgba(33,150,244,0.3); background: #fff; display: flex; flex-direction: column; transition: all 0.3s ease-in-out; }
.workList > li:hover { border-bottom: 5px solid rgba(33,150,244,1); box-shadow: 0px 2px 5px rgba(0,0,0,0.4); }
.workList > li .thumbnail { display: flex; flex: 3; flex-grow: 3; border-radius: 0; border: none; overflow: hidden; border-bottom: 1px solid #eee; margin-bottom: 0; padding: 0; align-items: center;}
.workList > li .thumbnail img { opacity: 0.6; transition: opacity 0.2s ease-in-out; }
.workList > li:hover .thumbnail img { opacity: 1; }

.workItemContent { flex: 4; padding: 1rem; }

.techniqueList { flex: 2; list-style: none; display: flex; justify-content: space-around; padding: 0; align-items: flex-end; }
.techniqueList li span { line-height: 1; font-size: 2.5rem; padding: 2rem 0; display: inline-block; color: rgba(0,0,0,0.3) }

.lovesList { list-style: none; padding: 0; }


@media(max-width: 950px){
    .workList { flex-direction: column; }
}

/**** CUSTOM ICONS ****/
.custom-icon:before { display: inline-block; opacity: 0.3; content: ''; background-repeat: no-repeat; width: 2.5rem; height: 2.5rem; background-size: 100% 100%; }

/**** TOOLTIPS ****/
.tooltip { background-color: rgba(0,0,0,0.4) !important; border-radius: 5px !important; opacity: 0 !important; margin-top: 0rem !important; transition: margin-top 0.1s ease-in-out, opacity 0.1s ease-in-out !important; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 1.1rem !important; }
.tooltip:after { border-top-color: rgba(0,0,0,0.4) !important; }
.tooltip.show { opacity: 0.5 !important; margin-top: 1rem !important; }

/**** TYPOGRAPHY ****/

h1 { font-family: 'Abhaya Libre', serif; font-style: normal; font-size: 5rem; margin-bottom: 3rem; }

@media( max-width: 1024px ){
    body { font-size: 16px; }
}

@media( max-width: 370px ){
    h1 { font-size: 3rem; }
}

/**** REACT CSS TRANSITIONS ****/
.mainContentWrapper-enter { opacity: 0.01; margin: 0 auto; width: 100%; max-width: 1024px; }
.mainContentWrapper-enter.mainContentWrapper-enter-active { opacity: 1; transition: opacity 200ms ease-in; }
.mainContentWrapper-leave { opacity: 1; position: absolute; padding: 50px; top: 0; left: 0; margin: 0 auto; width: 100%; max-width: 1024px; }
.mainContentWrapper-leave.mainContentWrapper-leave-active { opacity: 0.01; transition: opacity 200ms ease-in; }

.loadPage-appear { opacity: 0.01; }
.loadPage-appear.loadPage-appear-active { opacity: 1; transition: opacity .5s ease-in; transition-delay: .5s; }
